
#parent{
  width: auto;
  min-height:100vh;
  display: flex;
  flex-direction: column;
}
#top{
    align-items: flex-end;
   justify-content: flex-end;
   display: flex;
   font-family: arial,sans-serif;
}



#content{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow:1;
}

#footer{
  background-color: #F5F5F5;
  font-family: arial,sans-serif;
  height: auto;
  color : #808080;
}


.connexion_button{
  margin-top: 17px;
    height: 35px;
    margin-right: 10px;
    font-size: medium;
    font-family: arial,sans-serif;
    background-color: rgb(11, 127, 236);
    border-radius: 5%;
    border: rgb(11, 127, 236);
    color: white;
    text-decoration: none;
}

.images{
  margin-top: 17px;
    height: 28px;
    margin-right: 15px;
    font-size: medium;
    font-family: arial,sans-serif;

}

.gmail{
  margin-top: 17px;
    height: 28px;
    margin-right: 15px;
    font-size: medium;
    font-family: arial,sans-serif;
}
#icon_top{
  height: 25px;
  margin-right: 15px;
  font-size: medium;

}

.toolbar{
  border-radius: 0.5cm;
  border: solid 1px lightgrey;
  width: 17cm;
  height: 1cm;
}

.google_img{
  width: 600px;
}

.content_button{
  margin-top: 17px;
    height: 40px;
    margin-right: 10px;
    font-size: medium;
    font-family: arial,sans-serif;
    background-color: #F5F5F5;
    border-radius: 5%;
    border: rgb(11, 127, 236);
    text-decoration: none;
}

.france{
  border : solid 0.5px lightgrey;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: : 14px;
}

#bloc_footer{
display: flex;
justify-content: space-between;
border : solid 0.5px lightgrey;
height: 50px;
}

.footer_1{
  display: flex;
  justify-content: flex-start;
  font-family: arial,sans-serif;
}

.footer_2{
  display: flex;
  justify-content: flex-end;
  font-family: arial,sans-serif;
}

.footer_1 > a{
  margin: 15px;
  color : #808080;
}

.footer_2 > a{
  margin: 15px;
  color : #808080;
}

a,a:hover{
    color: black;
    text-decoration: none;
}

li{
  list-style-type: none;
}
